<html>  
<head>  
    <title>upload</title>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style type="text/css">
    	body {
			overflow-x: hidden;
    	}
    	form {
    		margin-top: 50vh;
		    transform: translateY(-100px);
		    text-align: center;
    	}
    	.block {
    		display: block;
    	}
    	label {
		    font-weight: bold;
    	}
    	.text-left {
    		text-align: left;
    	}
    	.btn {
    		box-shadow: 0 0 13px rgba(0,0,0,0.1);
    		width: 300px;
    		height: 50px;
    	}
    	.btn:hover {
    		margin-top: -10px;
    	}
	</style>
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>  
<body>  
    <form action = "/success" method = "post" enctype="multipart/form-data">  
        <h2>SEARCH</h2>
        <div class="row" style="margin-top:100px">
        	<div class="col-sm-3">
        	</div>
        	<!-- <div class="col-sm-3">
        		<div>
        			<p>File of vectors</p>
        			<button type="button" class="btn" onclick="document.getElementById('emb_file').click();">
        				Choose file
        			</button>
        			<input type="file" name="emb_file" id="emb_file" style="display: none;" />  
        		</div>
        		<div>
        			
        		</div>
        	</div>  -->
        	<div class="col-sm-3">
        		<p>File of metadata</p>
        		  	<button type="button" class="btn" onclick="document.getElementById('meta_file').click();">
        				Choose file
        			</button> 
        			<input type="file" name="meta_file" id="meta_file" style="display: none;" /> 
        	</div>
        	<div class="col-sm-3"></div>
        </div>
        <button type="submit" class="btn btn-success" style="margin-top: 25px;">
        	<i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload
        </button>
    </form>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    	$('input[type=file]').change(function(e) {
    		var fileName = e.target.files[0].name;
    		$(this).parent().find('button').text(fileName);
    	})
    </script>
</body>  
</html>  